[Unit]
Description=Servicio para la App de Azure
After=network.target

[Service]
User=vagrant
Group=www-data
WorkingDirectory=/var/www/msdocs-python-flask-webapp-quickstart
ExecStart=/usr/local/bin/pipenv run gunicorn --workers 4 --bind unix:/var/www/msdocs-python-flask-webapp-quickstart/app.sock app:app

[Install]
WantedBy=multi-user.target